.certificateItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: $mb-1-5;
}

.certificateItemInfo {
  text-align: start;
  margin-right: $mb-3;
}

.certificateItemLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}