@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;900&display=swap');

/* ============================================================ */
/* ========================= ELEMENTS ========================= */
/* ============================================================ */
:root {
  /*============ TYPOGRAPHY ============*/
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: $header-height 0 0 0;

  font-size: $normal-font-size;

  background-color: $dark;
  color: $white;
}

#root {
  width: 100%;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header-height;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $gray;
}

h1, h2, h3 {
  color: $blue;
  font-weight: 600;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

a {
  text-decoration: none;
  color: $blue;
}
a:hover {
  color: $gray-blue;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/* =========================================================== */
/* ========================= CLASSES ========================= */
/* =========================================================== */

/*==================== REUSABLE ====================*/
.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-900 {
  font-weight: 900;
}

.color-dark {
  color: $dark;
}

.color-gray {
  color: $gray;
}

.color-white {
  color: $white;
}

.color-blue {
  color: $blue;
}

.color-gray-blue {
  color: $gray-blue;
}

.color-dark:hover {
  color: $dark;
}

.color-gray:hover {
  color: $gray;
}

.color-white:hover {
  color: $white;
}

.color-blue:hover {
  color: $blue;
}

.color-gray-blue:hover {
  color: $gray-blue;
}

.bgcolor-dark {
  background-color: $dark;
}

.bgcolor-gray {
  background-color: $gray;
}

.bgcolor-white {
  background-color: $white;
}

.bgcolor-blue {
  background-color: $blue;
}

.bgcolor-gray-blue {
  background-color: $gray-blue;
}

.bgcolor-dark:hover {
  background-color: $dark;
}

.bgcolor-gray:hover {
  background-color: $gray;
}

.bgcolor-white:hover {
  background-color: $white;
}

.bgcolor-blue:hover {
  background-color: $blue;
}

.bgcolor-gray-blue:hover {
  background-color: $gray-blue;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: $h1-font-size;
  color: $blue;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 1200px;
  margin-left: $mb-1-5;
  margin-right: $mb-1-5;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
