/*============ BREAKPOINTS ============*/
$bp-medium: 968px;

/*============ SIZES ============*/
$big-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

$header-height: 3rem;

$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

@media screen and (min-width: $bp-medium) {
  $big-font-size: 3rem;
  $h1-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: .875rem;
  $smaller-font-size: .813rem;
}

/*========== Z INDEX ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/*============ COLORS ============*/
$dark: #282828;
$gray: #393838;
$white: #fff;
$blue: #2d979c;
$gray-blue: #769FA1;
