/*============ BREAKPOINTS ============*/
$bp-medium: 968px;

/*============ MARGINS ============*/
$header-height: 3rem;

$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== Z INDEX ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

/*============ COLORS ============*/
$dark: #1d1d1d;
$gray: #302f2f;
$white: #fff;
$blue: #2d979c;
$gray-blue: #769FA1;
