.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-fixed;
  background-color: $dark;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navLogo {
  font-size: var(--h1-font-size);
  &:hover {
    color: $blue;
  }
}

.navMenu {
  width: 50%;
  @include mediumDown {
    position: fixed;
    top: -400px;
    right: 0;
    width: 100%;
    background-color: $dark;
    padding: 1rem 1rem 1.5rem 1rem;
    border-radius: 0 0 1.5rem 1.5rem;
    transition: .5s;
    &Displayed {
      top: 0;
    }
  }
}

.navList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include mediumDown {
    flex-direction: column;
  }
}

.navLink {
  font-size: var(--small-font-size);
  font-weight: 400;
}

.navClose {
  display: none;
  @include mediumDown {
    display: inline;
    position: absolute;
    right: 1.3rem;
    top: .8rem;
    font-size: var(--h2-font-size);
    color: $blue;
    cursor: pointer;
    &:hover {
      color: $cyan;
    }
  }
}

.navButtonMenu {
  display: none;
  @include mediumDown {
    display: inline;
    font-size: var(--h2-font-size);
    color: $blue;
    cursor: pointer;
  }
}