.skillsGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  @include mediumDown {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    row-gap: 2rem;
    width: 80%;
  }
  @include smallDown {
    grid-template-columns: repeat(2, 1fr);
  }
}

.iconCont {
  height: 8rem;
  &Img {
    background-color: $dark;
    border: 1px solid $blue;
    border-radius: 5px;
    height: 100%;
  }
  @include mediumDown {
    height: 6.5rem;
  }
}